$main-color: #e60433;
$main-color02: #ffc120;
$main-color03: #fee4d2;

$colorpart01: #fe4d3b;
$colorpart02: #feda3c;
$colorpart03: #ffa050;
$colorpart04: #44d19d;
$colorpart05: #78d7db;
$colorpart06: #956fde;
$colorpart07: #7292f7;
$colorpart08: #f08187;

$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 20px;

// 파일 제목에 언더바 붙으면 compile 하지 않는다.
